@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

a{
    color:black;
    text-decoration:none;
}
a:visited{
    color:black;
}
a:hover{
    color:black;  
}
.backimg{
    position: absolute;
    opacity: 1;
    z-index: -1;
}
.deve{
    font-family: 'Roboto Mono', monospace;
    font-size: 50pt;
    color: gray;
    font-weight: bold;
    position: relative;
    left: 100px;
    top: 40px;
}
.item{
    position: relative;
    top: 80px;
}
.front{
    position: relative;
    letter-spacing: 5pt;
    bottom: 80px;
    left:520px;
    font-size:100px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.back{
    position: relative;
    letter-spacing: 5pt;
    font-size:100px;
    bottom:20px;
    left:480px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.out{
    font-weight: bold;
    width: 230px;
    height: 50px;
    border-style: solid;
    position: relative;
    left: 50px;
    top:150px;
    color: black;
    font-size: 25pt;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 50%;
}

.f_log{
    position: relative;
    bottom: 35px;
    left: 10px;
    font-family: 'Roboto Mono', monospace;
}
.b_log{
    position: relative;
    bottom: 35px;
    left: 10px;
    font-family: 'Roboto Mono', monospace;
}