.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo{
    width: 50px;
    float: left;
}
.menu{
    float: right;
}

.about, .team, .work, .blog, .contact{
    float: left;
}
.mainment{
    text-align: center;

}
.brand{
    text-align: center;
}